.pageHeader {
	text-align: left;
	padding: 10px;
	font-size: 17px;
	line-height: 1.3;
	letter-spacing: -0.8px;
	color: #4e94e3;
}

#alleryList {
	width: 100%;
	padding: 0;
	margin: 0;

	.lists {
		float: left;
		height: 12vh;
		border-bottom: 1px solid #c8c7cc;
		width: 100%;
		text-align: right;
		list-style-type: disc;
		list-style: none;

		.measureCls {
			width: 90%;
			float: left;
			font-size: 20px;
			line-height: 1.1;
			letter-spacing: -0.9px;
			color: #4c4c4c;
			padding: 4vh 4vh;
			text-align: left;
		}

		.listsArrow {
			width: 10%;
			float: left;
			padding: 4vh 2vh;
		}
		
	}
}

#allergiesConditions {
	.list-group-item {
		height: 10vh;
	}
	.list-group {
		padding-left: 0;
		margin-bottom: 20px;
	}
	.list-group-item {
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid #ddd;
	}
	.bulletTxt {
		float: left;
	}
	.testTypeDisclose {
		margin-top: 2%;
		width: 3%;
		float: right;
		vertical-align: middle;
	}
	.testType{
		margin:0 5% 0 20%;
	}
	.testTypeFull{
		margin:0 5% 0 5%;
	}
	.testTypeText{
		color:#AAAFB4;
	}


	.allergiesInfo {
		float: left;
		width: 15%;
		padding-left: 5%;
		padding: 2vh;
		.orangeIndicator {
			float: left;
			margin-left: 5%;
			width: 15px;
			height: 15px;
			border-radius: 50px;
			background-color: #3b86dd;
		}
	}
	.allergiesName {
		width: 75%;
		float: left;
		.allergiesText {
			font-weight: bold;
			float: left;
		}
		p {
			margin: 2px 0 0 0 !important;
    		float: left;
    		font-size: 12px;
		}
	}

	.allergiesDisclose {
		width: 10%;
		float: left;
		text-align: right;
		padding: 1vh;

		img {
			width: 2vh;
		}
	}
}

#allergyView {
	
    .allergiCausedByName {
    	float: left;
    	width: 90%;
    	margin-left: 5%;
    }

    .allergyCls {
    	height: 10vh;
    	text-align: center;
    	padding: 2vh 4vh;
    	background-color: #ccc;
    	color: #fff;
    }

    .allergiGo {
    	text-align: right;
    }
}

#allergyDetails {

	.list-group-item {
		height: 100%;
	}
	
    .allergiCausedByName {
    	float: left;
    	width: 90%;
    	margin-left: 5%;
    }

    .allergiGo {
    	text-align: right;
    }

    input[type=checkbox]{
	    content: "";  
	    display: inline-block;  
	    width: 15px;  
	    height: 15px;  
	    vertical-align:middle;
	    margin-right: 8px;  
	    background-color: #aaa;
	    border-radius: 4px;
	}
}

#allergyAdd {
	#treatmentCls, #testCls {
		height: 50px;
		padding: 10px;
		border-radius: 10px;
		background-color: #fafafa;
		border: solid 1px #c0c0c0;
		overflow: hidden;
		text-align: left;
	}

	.detailMeasuredDate {
		padding: 3% 2%;
		width: 100%;
		text-align: left;
		display: table;
		margin-top: 2vh;

		.calenderImg {
			margin-top: 28px;
			/*height: 10vh;
			padding: 2vh;
			margin: auto;
			width: 30%;
			float: left;*/
		}
		.dateType {
			/*height: 5vh;
			padding: 2vh 2vh;
			text-align: right;
			width: 10%;
			float: left;*/
			text-align: right;
		}
		.displayDate {
			position: relative;
			/*float: left;
			height: 5vh;
			width: 60%;
			padding: 2vh 2vh;
			text-align: right;*/

			span {
				position: absolute;
				top: 2px;
				left: 30px;
			}

			input[type=date] {
				/*width: 80%;*/
				width: 100%;
				-webkit-appearance: none;
			}
		}

		.info-arrow {
			width: 2vh;
			position: absolute;
			right: 15px;
			top: 15px;
		}

		.edit-icon {
			width: 3vh;
			position: absolute;
			right: 15px;
			top: 10px;
		}

		.detailMeasuredDate {
			height: 8vh;
			padding: 2vh;
			font-size: 18px;
			line-height: 1.2;
			letter-spacing: -0.8px;
			color: #7b7b7b;
		 }

	}
	
	.medicalNotes {
		padding: 3% 2%;
		width: 100%;
		text-align: left;
		display: table;
		border-top: 1px solid #f5f5f5;
		margin-top: 1vh;

	    div{
	    	display: table-cell;
	    }

	    .info-arrow {
			width: 2vh;
			position: absolute;
			right: 15px;
			top: 15px;
		}

		.edit-icon {
			width: 3vh;
			position: absolute;
			right: 15px;
			top: 10px;
		}
	}

	textarea {
		width: 100%;
		border-radius: 10px;
		background-color: #fafafa;
		border: solid 1px #c0c0c0;
		resize: none;
		padding: 5vh;
	}
	.btnCls {
		float: right;
		color: #4e94e3;
		border: 0;
		background: #fff;
	}

	.treatmentTest, .testConduct {
		padding: 4vh;
	}
}
.testTypeDisclose {
	margin-top: 2%;
	width: 3%;
	float: right;
	vertical-align: middle;
}

.detailMeasuredDate {
	
	.calenderDetail {
		/*float: left;
		width: 65%;*/
		margin: 0px;
		padding: 0px;
		list-style: none;

		li {
			width: 100%;
			height: 48px;
			line-height: 40px;
			text-align: center;
		}
	}

	.fromDateDetail {
		border-bottom: 1px solid #f5f5f5;
	}
}

#userAllergyList {
	.default-noti{
		position: absolute;
		top: 40%;
		font-size: 20px;
		text-align: center;
		color: #4C91E0;
		padding: 6px;
		line-height: 1.2em;
		margin: 0 auto;
    	width: 100%;
	}
}