#familyMembers{

	.contentHeader{
		text-align:center;
		margin: 10px 0 10px 0;
	}
	.hedImg{
	    width: 12%;
	    margin:auto;
	}
	.profileNameText{
		font-size: 15px;
	    letter-spacing: 0px;
	    color: #6d6d6d;
	    text-align: center;
	    padding: 0 0 5% 0;
	    border-bottom: 1px solid #ccc;
	    margin-right:0px;
    	margin-left:0px;
    }
    .subhead{
		background-color:#7A7A7A !important;
		color:#ffffff;
	    }
    .personalListItem{
    	min-height: 70px;
	    position: relative;
	    display: block;
	    padding: 15px 15px;
	    margin-top: 10px;
	    background-color: #fff;
	    border-bottom: 1px solid #ddd;
	    cursor: pointer;

	    .data{
	    	padding-left:0;
	    }
	    .left{
	    	color:#ccc;
	    }
	    .right{
	    	text-align:right;
	    }

    }

    .medInfoImg{
        float: left;
	    width: 20%;

	    img{
	    	border-radius: 50%;
			width: 50px;
	    }
    }
    .medInfo{
		float: left;
		/* margin: 4vh 1vh; */
		text-overflow: ellipsis;
		color: #777777;
		text-align: center;
		line-height: 50px;
    }

    .listsArrowright{
	    float: right;
		img{
			width: 30%;
		}
    }
    .listsArrowleft{
	    float: left;
		img{
			width: 30%;

		}
	}
	.deleteMember{
		float: right;
		padding: 4vh 1vh;
	}
}

.header-title-cls {

	position: absolute;
	text-align: center;
	width: 150px;
	margin: 0px 115px;
}