div.gender{

  align-content: center;

  img {
    width: 50%;
  }

  .gender-img-div {

    margin-top: 16vh;
    text-align: center;

  }

  .female-pink{

    content:url("../images/female_pink.png")

  }

  .female-grey{

    content:url("../images/female_grey.png");
  }

  .male-blue{
    content:url("../images/male_blue.png")
  }

  .male-grey{

    content:url("../images/male_grey.png")
  }

  .others-div{

    align-content: center;
    text-align: center;

    p{
      height: 60px;
      border-top: 1px dotted #979797;
      border-bottom: 1px dotted #979797;
      line-height: 58px;
      font-family: OpenSans;
      font-size: 26px;
      letter-spacing: 0px;
      color: #ebebeb;
      -webkit-text-stroke: 1px #dbdbdb;
    }

  }

  .grey{
    color: #dbdbdb !important;
    font-weight: bold;
    font-family: openSans;
    font-size: 20px;
    margin: 10%;
  }
  .blue{
    color:#3b86dd !important;
    font-weight: bold;
    text-align: center;
    font-family: openSans;
    font-size: 20px;
    margin:10%;

  }

  .pink{
    color: #fe6fbf;
    font-weight:bold;
    text-align: center;
    font-family: openSans;
    font-size: 20px;
    margin:10%;
  }

  .cm-left{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px dotted #979797;
  }

  .cm-right {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

}