div#intro-header {
    background: #4a90e2;
    height: 190px;
    text-align: center;
}

div#intro-header img {
    margin-bottom: 6%;
    margin-top: 6%;
    width: 18%;
}

div#intro-header p {
    color: #fff;
    width: 72%;
    letter-spacing: -0.6px;
    font-size: 18px;
    margin-left: 14%;
}

p.profile-step {
    text-align: left;
    color: #aaa;
    font-size: 18px;
    margin-top: 5%;
}

div.profile-item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: -10%;
    margin-bottom: 3%;
}
.profile-image {
    height: 100px;
    width: 100px;
    margin: 5% auto 10%;
    /*background-image: url("../images/avatar.png");*/
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: solid 8px #e2e2e2;
    border-radius: 50%;
}

div.profile-item img {
    width: 18%;
}

.progress-wrapper .progress {
    width: 70%;
    margin: auto;
    height: 9px !important;
}

.progress-wrapper .completion-percentage {
    width: 40px;
    float: right;
    margin-top: -3.6%;
    color: #f08080;
    letter-spacing: -0.4px;
    font-size: 12px;
}

span.caption {
    display: block;
    font-size: 18px;
    color: #aaa;
    margin-top: 2%;
}

#profile-btn {
    margin: auto;
    width: 37%;
    display: block;
    padding: 2.2% 0 2.2% 0;
    margin-top: 5%;
    border-radius: 8px;
}

#profile-btn span.glyphicon {
    float: right;
    margin-right: 6px;
    top:2px;
}