
.login {
    position: relative;
    /* bottom: 0px; */
    z-index: 1;
    width: 360px;
    /*padding: 10px 10% 0% 10%;*/
    align-content: center;
    box-sizing: border-box;
    margin: 0px auto;

    div{
        box-sizing: border-box;
    }
    .red-alert-uname {
        background-color: #F5DADA;
        border-radius: 10px 10px 0 0;
    }
    .white-alert-uname {
        background-color: #f9f9f9;
        border-radius: 10px 10px 0 0;
    }
    .red-alert {
        background-color: #F5DADA;
        border-radius: 0 0 10px 10px;
    }
    .white-alert {
        background-color: #f9f9f9;
        border-radius: 0 0 10px 10px;
    }
    div.hr {
        background-color: black;
        height: 1px;
    }
    .underline {
        background-color: transparent;
        border-bottom: 1px solid #4a4a4a;
        border-radius: 0px;
    }
    .wrapper-div{
        margin: 4% 0 10% 0;
    }
    .signUp-div{
        float:left;
    }
    .forgot-pass-div{
        float:right;
    }
    .forgot-password {
      /*  text-align: center;
        margin: 5%; */
    }
    .tp-login-cont{
        position: relative;
        height: 10vh;
        width: 100%;
        z-index: 2;

        .arrow-sm{
            position: absolute;
            height: 100%;
            width: 5%;
            display: inline-block;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
        .arrow-right{
            right: 0;
            background-image: url("../images/arrow-right.png");
        }

        .arrow-left{
            left: 0;
            background-image: url("../images/arrow-right.png");
            -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
        }

        .tp-icons{
            position: absolute;
            height: 100%;
            width: 25%;
            display: inline-block;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: auto 100%;
            overflow: visible;
            cursor: pointer;
        }

        .twitter{
            left: 17%;
            height: 80%;
            top: 10%;
            background-image: url("../images/twitter.png");
        }
        .facebook{
            left: 20%;
            width: 30%;
            z-index: 2;
            background-image: url("../images/facebook.png");
        }
        .linkedin{
            right: 17%;
            height: 80%;
            top: 10%;
            background-image: url("../images/linkedin.png");
        }
        .google-plus {
          right: 20%;
          width: 30%;
          z-index: 2;
          background-image: url("../images/googleplus.png");
        }

    }

    .log-in-text {
        width: 100%;
        height: 10%;
        text-align: center;
        font-family: OpenSans;
        font-size: 22px;
        color: #4a4a4a;
        padding: 6%;
    }

    .gradient-line{
        width: 80%;
        height: 3px;
        margin: 10%;
        line-height: 0px;
        text-align: center;
        opacity: 0.5;
        font-family: OpenSans-Light;
        font-size: 16px;
        color: #4a4a4a;
        background-image: radial-gradient(circle at 50% 0, rgba(255, 254, 255, 0.0), rgba(255, 254, 255, 0.0) 12%, #e7e7e7 10%, #ffffff);
    }

}