

.modal-cls {
	position: absolute;
	width: 100%;
	top: 0px;
	bottom: 11vh;
	z-index: 999;
	visibility: visible !important;


	.modal-content-cls {
		height: 100%;
		width: 100%;
		background-color: #404040;
		opacity: 0.9;

		img {
			width: 100%;
			/*height: 80%;*/
			margin-top: 45px;
		}
	}

	.add-cls{
		color: white;
		width: 40px;
		height: 40px;
		opacity: 1;
		font-size: 35px;
		position: absolute;
		right: 1%;
		text-align: center;
	}
}

.profile-grid2 {
	.modal-cls {
		height: 100%;
	}
}

.modal-bg {
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.6;
	z-index: 999;
}


	
.modal-dialog {
	width: 320px;
	margin: auto auto !important;
}

.modal-title {
	font-size: 20px;
}
.modal-body {
	font-size: 16px;
}

.foo-btn-cls {
	cursor: pointer;
}
