.recommandationList{

    .datalist{
    	padding:0;
    	list-style: none;

	    li{
		    border: 8px solid transparent;
		    border-bottom: 0;
		}

		/*.notifyCls {
			height: 50vh;

			img {
				width: 70%;
			}
		}*/
	}
	.contentHeader{
		text-align:center;
		margin: 10px 0;
	}
	.hedImg{
	    width: 12%;
	    margin:auto;
	}
	.profileNameText{
		font-size: 15px;
	    letter-spacing: 0px;
	    color: #6d6d6d;
	    text-align: center;
	    padding: 0 0 5% 0;
	    border-bottom: 1px solid #ccc;
	    margin-right:0px;
    	margin-left:0px;
    }
    .listItem{
    	min-height: 16vh;
	    position: relative;
	    display: block;
	    margin-bottom: -1px;
	    background-color: #fff;
	    border: 1px solid #ddd;

	    .data{
	    	padding-left:0;
	    	margin:2vh 2vh;
	    }
	    .left{
	    	color:#ccc;
	    }
	    .right{
	    	text-align:right;
	    }

    }
    .listsArrowleft{
		    float: left;
		    margin-left: 2%;
		    margin-bottom: 2%;
		    width:10%;
		img{
			width: 70%;

		}
	}

	.left-inner-addon {
		    position: relative;
		    z-index: 2030;
		}
	.left-inner-addon input {
	    padding-left: 40px;    
	}
	.left-inner-addon i {
		    position: absolute;
		    left:2px;
		    pointer-events: none;
		    width:15%;

	    img{
	    	width:70%;
	    }
	}

	.col-xs-6 {
	    width: 80%;
	}
	.heading{
		font-family: OpenSans;
		font-size: 24px;
		line-height: 0.6;
		color: #262626;
	}
}

#recommandationList {
	.notifyCls {
		border-bottom: 1px solid gray;
		margin: 18px 18px 0px 18px;
		padding: 15px 15px 0px 15px;
		cursor: pointer;
	}
}


.rec-title {
	font-size: 24px;
	margin: 15px 0px 10px 0px;
}

.rec-img {
	text-align: center;
}

.rec-details {
	padding: 0px 15px;
}

.rec-content {
	width: 100%;

	p {
		text-align: left;
		line-height: 20px;
	}
}

.paragraph {
	img {
		width: 100% !important;
		padding-top: 10px;
	}
}

#recommandationListdetail{

	.datadetails{
		background-color:#ffffff;
	}
	
	.data{
	    	padding-left:0;
	    	margin:10px;
	    }

	.heading{
		font-family: OpenSans;
		font-size: 24px;
		line-height: 0.6;
		color: #262626;
	}
	.km-view-title{
		line-height: 3;
	}

}
.recommandationList{
	.default-noti{
		font-size: 20px;
		text-align: center;
		margin-top: 40%;
	}
	.contentHeader{
		text-align:center;
		margin: 6px 6px 2px 6px;
	}
	.hedImg{
	    width: 12%;
	    margin:auto;
	}
	.home-search{
		width: 66%;
		height: 32px;
		border-radius: 5px;
		background-color: #ffffff;
		padding-left: 4%;
		line-height: 32px;
		font-size: 14px;
		letter-spacing: -0.3px;
		color: #aaaaaa;
		left: -5%;
		position: relative;
	}
}