 .view {
     position: absolute;
     top: 100px;
     width: 100%;
     -webkit-transition: 800ms;
     -o-transition: 800ms;
     transition: 800ms;
 }
 
 .slide-left {
     background: #eaa;
 }
 
 .slide-left > [ui-view].ng-enter {
     position: absolute;
     left: -100%;
     background: blue;
 }
 
 .slide-left > [ui-view].ng-enter-active,
 [ui-view].ng-leave {
     position: absolute;
     left: 0%;
     background: green;
 }
 
 .slide-left > [ui-view].ng-leave-active {
     position: absolute;
     left: 100%;
     background: red;
 }
 
 .slide-right > [ui-view].ng-enter {
     position: absolute;
     left: 100%;
     background: yellow;
 }
 
 .slide-right > [ui-view].ng-enter-active,
 [ui-view].ng-leave {
     position: absolute;
     left: 0%;
 }
 
 .slide-right > [ui-view].ng-leave-active {
     position: absolute;
     left: -100%;
 }
 /* [ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  padding-left: 0px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  padding-left: 100px;
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
} */
