.card {
  position: relative;
  height: auto;
  width: 96%;
  margin: 2%;
  padding: 2% 8%;
  font-family: OpenSans-Bold;
  font-size: 19px;
  letter-spacing: -0.2px;
  color: #ffffff;
  border-radius: 8px;
  background-color: #fc7871;
  border: solid 1px #dbdbdb;
  text-align: left; }
  .card .card-name {
    padding: 3% 2%; }
  .card .info-icon {
    height: 23px;
    float: right; }
  .card .card-content {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 4% 2%; }
    .card .card-content .card-value-container {
      width: calc(100% - 125px);
      display: inline-block;
      vertical-align: top; }
      .card .card-content .card-value-container span {
        vertical-align: top; }
      .card .card-content .card-value-container .card-value {
        font-size: 42px;
        line-height: 75px;
        display: inline-block; }
    .card .card-content .card-data {
      width: 120px;
      display: inline-block;
      margin: 2% 0 2%;
      padding: 0 0 0 4%;
      font-size: 12px;
      border-left: 1px solid white; }
      .card .card-content .card-data .card-data-item {
        padding: 4%;
        width: 46%;
        display: inline-block; }
      .card .card-content .card-data .card-data-item-value {
        padding: 4%;
        width: 46%;
        display: inline-block; }
  .card .card-category {
    font-weight: bold;
    text-transform: uppercase;
    padding: 2% 2% 0 2%; }
  .card .card-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.94;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
    padding: 20% 6% 6%;
    font-family: OpenSans;
    font-size: 16px;
    letter-spacing: -0.8px;
    color: #565656; }
    .card .card-info p {
      text-align: left;
      margin: 15px; }
    .card .card-info .cross-icon {
      position: absolute;
      top: 10%;
      right: 6%;
      height: 23px; }

.color-normal {
  background-color: #6fc555; }

.color-high {
  background-color: #ff7f00; }

.color-low {
  background-color: #fc7871; }

#buttongroup-home .km-list span {
  float: right; }

#buttongroup-home {
  border: 1px solid blue;
  border-radius: 4px;
  width: 90% !important; }

#buttongroup-home .personal-btn {
  color: green; }

#buttongroup-home .medical-btn {
  color: red; }

#buttongroup-home .dashboard-btn {
  color: blue; }

.km-ios7 .km-button.km-state-active {
  background: blue; }

#intro-dashboard .default-noti {
  font-size: 20px;
  text-align: center;
  margin: 40% 5%; }
