#diagnostics .modalList {
  text-align: center; }

#diagnostics .modal-body {
  padding: 0 !important; }

#diagnostics .km-view-title {
  line-height: 3; }

#diagnostics .list-group {
  padding-left: 0;
  margin-bottom: 20px; }

#diagnostics .list-group-item {
  min-height: 45px;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd; }

#diagnostics .bulletImg {
  float: left;
  width: 10%;
  margin: 1.5% 0 0 5%; }

#diagnostics .dignInfoDisclose {
  margin-top: 2%;
  width: 3%;
  float: right;
  vertical-align: middle; }

#diagnostics .round {
  width: 13px;
  height: 13px;
  background-color: #3b86dd;
  border-radius: 100px; }

#diagnosticTestType .km-view-title {
  line-height: 3; }

#diagnosticTestType .testTypeHead {
  margin: 0 5% 0 5%;
  color: #3b86dd;
  font-size: 17px; }

#diagnosticTestType .list-group {
  padding-left: 0;
  margin-bottom: 20px; }

#diagnosticTestType .list-group-item {
  min-height: 45px;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd; }

#diagnosticTestType .bulletTxt {
  float: left;
  margin-left: 5%; }

#diagnosticTestType .testTypeDisclose {
  margin-top: 2%;
  width: 3%;
  float: right;
  vertical-align: middle; }

#diagnosticTestType .testType {
  margin: 0 5% 0 20%; }

#diagnosticTestType .testTypeFull {
  margin: 0 5% 0 5%; }

#diagnosticTestType .testTypeText {
  color: #AAAFB4; }

#addDiagnostics #diagnosticImg {
  text-align: center; }
  #addDiagnostics #diagnosticImg .microScopeImg {
    width: 25%;
    margin: 10% auto; }
  #addDiagnostics #diagnosticImg .valueAdding {
    margin-bottom: 2vh; }
  #addDiagnostics #diagnosticImg .edit-icon, #addDiagnostics #diagnosticImg .info-arrow {
    height: auto;
    width: 50%;
    float: right;
    margin-top: 2%; }
  #addDiagnostics #diagnosticImg .measuredDate, #addDiagnostics #diagnosticImg .measuredTime, #addDiagnostics #diagnosticImg .medicalNotes {
    padding: 3% 2%;
    width: 100%;
    text-align: left;
    display: table; }
    #addDiagnostics #diagnosticImg .measuredDate div, #addDiagnostics #diagnosticImg .measuredTime div, #addDiagnostics #diagnosticImg .medicalNotes div {
      /*display: table-cell;*/ }
  #addDiagnostics #diagnosticImg .measuredDate p, #addDiagnostics #diagnosticImg .measuredTime p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: OpenSans;
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: -0.8px;
    color: #9b9b9b; }
  #addDiagnostics #diagnosticImg .measuredDate input, #addDiagnostics #diagnosticImg .measuredTime input {
    background: transparent;
    border: 0 !important;
    outline: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 67%;
    color: transparent;
    cursor: pointer;
    -webkit-appearance: none; }
    #addDiagnostics #diagnosticImg .measuredDate input:focus, #addDiagnostics #diagnosticImg .measuredTime input:focus {
      outline: none;
      border: 0 !important; }
  #addDiagnostics #diagnosticImg .subHeadings {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: -0.9px;
    color: #4a90e2;
    text-align: left;
    padding: 1vh 7vh;
    background-color: #f5f5f5;
    border: 1px solid #eeeeee; }
  #addDiagnostics #diagnosticImg .subHeadingText {
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: -0.9px;
    text-align: left;
    color: #000000;
    padding: 2vh 7vh;
    background-color: #ffffff;
    border: 1px solid #eeeeee; }

#addDiagnostics .addDiagInput {
  background-color: #ffffff;
  margin-left: 25%;
  width: 17%;
  height: 36px;
  font-size: 23px;
  padding: 8px;
  text-align: center;
  color: #000000;
  overflow: hidden; }

#addDiagnostics .select {
  float: left;
  height: 34px;
  width: 40%;
  color: #3b86dd;
  border: 0;
  box-shadow: 1px 2px 0px 0px #ccc;
  border-radius: 0;
  -webkit-appearance: none; }

#addDiagnostics .btnBar {
  text-align: right; }

#addDiagnostics .btn-Done {
  color: #3b86dd; }

#addDiagnostics .selectCls {
  -webkit-appearance: none;
  border: 0;
  background: #ffffff;
  outline: none;
  padding: 2vh;
  border-bottom: 1px solid #f5f5f5; }

#addDiagnostics .selectImg {
  width: 2vh;
  top: -30px;
  position: relative;
  z-index: 2;
  margin-right: 3vh;
  float: right; }

#addDiagnostics ng-datepicker {
  /*width: 300px;
		height: 200px;*/
  /*	top: -264px;
		left: -278px;*/ }

#addDiagnostics .ng-datepicker {
  top: -244px;
  left: -250px; }

#addDiagnostics #mTime {
  width: 310px !important;
  /* float: right; */
  margin-left: 84px !important;
  border: 1px solid black !important;
  height: 50px;
  color: #9b9b9b !important;
  /* line-height: 2px; */
  padding-top: 6px !important;
  left: 0px; }

#addNewUnitModal {
  text-align: center;
  margin-top: 40%; }
  #addNewUnitModal .newUnitBtn {
    text-align: center;
    color: #3b86dd; }
