div#profile-dob {
  text-align: center;
  margin: 25% 10% 10% 10%; }
  div#profile-dob img {
    width: 40%; }
  div#profile-dob .dobFieldDiv input {
    margin-top: 30%;
    background-color: #fff;
    text-align: center;
    padding-left: 7%; }
  div#profile-dob .dob_active {
    content: url("../images/dob_active.png"); }
  div#profile-dob .dob_inactive {
    content: url("../images/dob_inactive.png"); }
  div#profile-dob .form-date-underlined {
    position: relative;
    height: 5%;
    border: 0 !important;
    outline: none;
    width: 100%;
    font-size: large;
    -webkit-appearance: none; }
    div#profile-dob .form-date-underlined:focus {
      outline: none;
      border: 0 !important; }
  div#profile-dob .dob-date {
    position: relative;
    top: 32px;
    font-family: OpenSans;
    font-size: 18px;
    letter-spacing: 0px;
    color: #5f5f5f;
    z-index: 1; }
