div.gender {
  align-content: center; }
  div.gender img {
    width: 50%; }
  div.gender .gender-img-div {
    margin-top: 16vh;
    text-align: center; }
  div.gender .female-pink {
    content: url("../images/female_pink.png"); }
  div.gender .female-grey {
    content: url("../images/female_grey.png"); }
  div.gender .male-blue {
    content: url("../images/male_blue.png"); }
  div.gender .male-grey {
    content: url("../images/male_grey.png"); }
  div.gender .others-div {
    align-content: center;
    text-align: center; }
    div.gender .others-div p {
      height: 60px;
      border-top: 1px dotted #979797;
      border-bottom: 1px dotted #979797;
      line-height: 58px;
      font-family: OpenSans;
      font-size: 26px;
      letter-spacing: 0px;
      color: #ebebeb;
      -webkit-text-stroke: 1px #dbdbdb; }
  div.gender .grey {
    color: #dbdbdb !important;
    font-weight: bold;
    font-family: openSans;
    font-size: 20px;
    margin: 10%; }
  div.gender .blue {
    color: #3b86dd !important;
    font-weight: bold;
    text-align: center;
    font-family: openSans;
    font-size: 20px;
    margin: 10%; }
  div.gender .pink {
    color: #fe6fbf;
    font-weight: bold;
    text-align: center;
    font-family: openSans;
    font-size: 20px;
    margin: 10%; }
  div.gender .cm-left {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px dotted #979797; }
  div.gender .cm-right {
    text-align: center;
    display: inline-block;
    vertical-align: middle; }
