.medicalAddViewContainer {
  /*height: 100%;
	width: 100%;
	position: relative;
	box-content: border-box;
	font-size: 17px;*/
  /*.col-xs-12{
		display: table;

		div{
			height: 100%;
			display: table-cell;
		}
	}*/ }
  .medicalAddViewContainer .medicalAddValue {
    height: auto;
    width: 100%;
    margin: auto;
    text-align: center; }
    .medicalAddViewContainer .medicalAddValue .value-edit {
      position: absolute;
      right: 0;
      margin: 5% 2%;
      z-index: 2; }
  .medicalAddViewContainer .medicalAddImg img {
    width: 20%;
    margin: 15% auto; }
  .medicalAddViewContainer .edit-icon, .medicalAddViewContainer .info-arrow {
    height: auto;
    width: 50%;
    float: right;
    margin-top: 2%;
    cursor: pointer; }
  .medicalAddViewContainer .medicalAddInput {
    margin: auto;
    text-align: center; }
    .medicalAddViewContainer .medicalAddInput #medicalInput1, .medicalAddViewContainer .medicalAddInput #medicalInput2 {
      display: inline-block;
      float: none; }
    .medicalAddViewContainer .medicalAddInput input {
      width: 100%;
      text-align: center;
      border: 1px solid #979797;
      padding: 10%;
      border-radius: 8px;
      font-size: 23px;
      font-family: HelveticaNeue;
      color: #000000; }
    .medicalAddViewContainer .medicalAddInput .medicalUnit {
      margin: 2% 5% 20%;
      font-family: OpenSans;
      font-size: 15px;
      letter-spacing: 0px;
      color: #6d6d6d; }
  .medicalAddViewContainer .measuredDate, .medicalAddViewContainer .measuredTime, .medicalAddViewContainer .medicalNotes {
    padding: 3% 2%;
    width: 100%;
    text-align: left;
    display: table; }
    .medicalAddViewContainer .measuredDate div, .medicalAddViewContainer .measuredTime div, .medicalAddViewContainer .medicalNotes div {
      /*display: table-cell;*/ }
  .medicalAddViewContainer .measuredDate p, .medicalAddViewContainer .measuredTime p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: OpenSans;
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: -0.8px;
    color: #9b9b9b; }
  .medicalAddViewContainer .measuredDate input, .medicalAddViewContainer .measuredTime input {
    background: transparent;
    border: 0 !important;
    outline: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    left: 0;
    color: transparent;
    -webkit-appearance: none;
    cursor: pointer; }
    .medicalAddViewContainer .measuredDate input:focus, .medicalAddViewContainer .measuredTime input:focus {
      outline: none;
      border: 0 !important; }
  .medicalAddViewContainer .border-top {
    border-top: 1px solid #c8c7cc; }
  .medicalAddViewContainer .border-bottom {
    border-bottom: 1px solid #c8c7cc; }
  .medicalAddViewContainer .note-text {
    margin-top: 10px;
    width: 100%;
    outline: none;
    border: 0;
    resize: none;
    background: transparent;
    height: 200px;
    color: black;
    line-height: 1.618em; }
  .medicalAddViewContainer ng-datepicker {
    /*width: 300px;
		height: 200px;*/
    /*	top: -264px;
		left: -278px;*/ }
  .medicalAddViewContainer .ng-datepicker {
    top: -244px;
    left: -250px; }

#medicalDetailedView ul[rn-carousel] {
  overflow: hidden;
  min-height: calc(100vh - 174px); }

#mTime {
  width: 310px;
  /* float: right; */
  margin-left: 84px;
  /* border: 1px solid black !important; */
  height: 50px;
  color: #9b9b9b;
  /* line-height: 2px; */
  padding-top: 6px; }
