#record .record-list-item-text {
  top: -25px;
  position: relative;
  padding: 10px; }

#familyMembers .default-noti {
  width: 100%;
  position: absolute;
  top: 40%;
  font-size: 20px;
  text-align: center;
  color: #4C91E0; }
