
<div class="profile-grid2 profile-grid3">

    <kendo-mobile-header class="sw-header">
        <kendo-mobile-nav-bar class="km-accent sw-header">
            <!-- <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" /> -->
            <kendo-view-title> About </kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <div id="aboutCls">
            <div class="swaasth-logo"></div>
            <div class="aboutSwasthDescription">
                <p> World over people use massage therapy to help promote healthy skin, nourish and strenth the body, relieve stress, reduce pain and encourage balance and well being. </p>
            </div>
            <div class="copyRightCls">
                <p> Copyright &#169; 2016 </p>
                <p> AmudIT Innovative Solution Pvt. Ltd </p>
                <p> All rights reserved </p>
            </div>
    </div>

</div>