
<div class="profile-grid2 profile-grid3">

    <kendo-mobile-header class="sw-header">
        <kendo-mobile-nav-bar class="km-accent sw-header">
            <!-- <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" /> -->
            <kendo-view-title> Contact us </kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <div id="contactUsCls">
            <div class="swaasth-logo"></div>
            <div class="emailCls">
                <img src="images/phones.png">
                <div class="emailID"> +91 9900201909 </div>
            </div>
            <br>
            <div class="phoneCls">
                <img src="images/email.png">
                <div class="phoneNo"> support@zinglewell.com </div>
            </div>
    </div>

</div>