
<div class="profile-grid2 profile-grid3">

    <kendo-mobile-header class="sw-header">
        <kendo-mobile-nav-bar class="km-accent sw-header">
            <!-- <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" /> -->
            <kendo-view-title> Privacy policy </kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <div id="termsPricavyCls">
            <div class="pageHeader"> Privacy policy </div>
            <div class="termsDescription">
                <p> World over people use massage therapy to help promote healthy skin, nourish and strenth the body, relieve stress, reduce pain and encourage balance and well being.
                World over people use massage therapy to help promote healthy skin, nourish and strenth the body, relieve stress, reduce pain and encourage balance and well being. 
                World over people use massage therapy to help promote healthy skin, nourish and strenth the body, relieve stress, reduce pain and encourage balance and well being.
                World over people use massage therapy to help promote healthy skin, nourish and strenth the body, relieve stress, reduce pain and encourage balance and well being.
                World over people use massage therapy to help promote healthy skin, nourish and strenth the body, relieve stress, reduce pain and encourage balance and well being.
                </p>
            </div>
    </div>

</div>