<!-- The overlay -->
<div id="sideBarSkin" class="overlay" ng-init="setPasswordChange()">

	<!-- Button to close the overlay navigation -->
	<div class="closebtn" ng-click="closeNav($event)">&times;</div>

	<!-- Overlay content -->
	<!-- <div class="overlay-img">
		<img src="images/swaasth-logo.png">
	</div> -->
	<!-- <div class="overlay-content"> -->
		<ul class="list-group">

			<li class="clearfix" ui-sref="aboutSwasth">
				<div class="sidebar-icon">
					<img src="images/icons/About_us.png" width="10vh">
				</div>
				<span class="sidebar-text">
					About us
				</span>
			</li>
			<li class="clearfix" ui-sref="privacyPolicy">
				<div class="sidebar-icon">
					<img src="images/icons/privacy-policy.png" width="15vh">
				</div>
				<span class="sidebar-text">
					Privacy policy
				</span>
			</li>
			<li class=" clearfix" ui-sref="termSwasth">
				<div class="sidebar-icon">
					<img src="images/icons/T&C.png" width="13vh">
				</div>
				<span class="sidebar-text">
					Terms & Conditions
				</span>
			</li>
			<li class=" clearfix" ui-sref="{{set_or_change_pass_url}}">
				<div class="sidebar-icon">
					<img src="images/icons/change_password.png" width="13vh">
				</div>
				<span class="sidebar-text">
					{{set_or_change_pass_text}}
				</span>
			</li>
			<li class=" clearfix" ui-sref="contactUs">
				<div class="sidebar-icon">
					<img src="images/icons/contact.png" width="20px">
				</div>
				<span class="sidebar-text">
					Contact us
				</span>
			</li>
			<li class=" clearfix">
				<div class="sidebar-icon">
					<img src="images/icons/logout.png" width="15vh">
				</div>
				<span class="sidebar-text" ng-click="logout()">
					Logout
				</span>
			</li>
		</ul>
	<!-- </div> -->
</div>