<section ng-controller="medicalListController" ng-init="getListView()">	
	<kendo-mobile-view id="medicalInfoLists">
		@@include('../../site/partials/mainHeader.html')
	    <kendo-web-content >
			<div touch-scroll class="profile-grid2 profile-grid3" id="listView">

				<!-- Medical list view header start-->

		    	<kendo-mobile-nav-bar class="km-accent sw-header">		            
		            <kendo-view-title> {{headerText}} </kendo-view-title>
		           <Kendo-mobile-button k-align="'right'" class="plus-icon" ng-click="addMedicalInfo()">
				        	<span class="k-icon">+</span>
					</Kendo-mobile-button>
		        </kendo-mobile-nav-bar>
		        
		        <!-- Medical list view header end-->

				<!-- <div class="lists" ng-repeat="list in medicalDetailsList" ng-click="showMedicalDetail()"> -->
				<div ui-sref="addDiagnosticView" class="subheader"  ng-show="headerText == 'Sugar'">
						{{subheaderText}}
				</div>
				<div class="lists" ng-repeat="list in medicalDetailsList" ng-click="showMedicalDetail($index)">					

					<!-- value medical -->
					<div class="measureCls" ng-show="headerText == 'Height'">
						{{list.value | convertToFeet}} 
					</div>

					<div class="measureCls" ng-show="headerText == 'Blood Pressure'">
						{{list.value.systolic}}<span ng-show="list.value.diastolic">/</span>{{list.value.diastolic}}
					</div>

					<div class="measureCls" ng-show="headerText == 'Heart Rate'">
						{{list.value}} bpm
					</div>

					<div class="measureCls" ng-show="headerText == 'Weight'">
						{{list.value}} kg
					</div>

					<div class="measureCls" ng-show="headerText == 'Diagnostic Tests'">
						{{list.value.value}}
					</div>

					<div class="measureCls" ng-show="headerText == 'Body Temperature'">
						{{list.value}} <sup>o</sup>C
					</div>

					<div class="measureCls" ng-show="headerText == 'Alleries & Conditions'">
						{{list.value}}
					</div>
					<!-- arrow display -->
					<div class="measuredArrow">
						<img src="images/increse-arrow@2x.png" class="increseArrow" ng-show="list.category.type == 'high'">
						<img src="images/increse-arrow@2x.png" class="decreseArrow" ng-show="list.category.type == 'low'">
					</div>
					<!-- display date -->
					<div class="measuredDate">
						<span ng-show="list.measurementDate">{{list.measurementDate | formatDate | date : 'd-MMM-yyyy'}}</span> <!--  -->
						<span ng-hide="headerText=='Weight' || headerText=='Height' || !list.measurementTime">, {{list.measurementTime | formatDate | date : 'h:mm a'}}</span>
					</div>
					<!-- display time -->
					<div class="measuredBySchool" ng-show="list.source == 1">
						<img src="images/school@2x.png" width="100%"> school
					</div>
					<!-- display reffrence -->
					<div class="measuredByMyself" ng-show="list.source != 1">
						<img ng-src="{{currentUser.profileImage?currentUser.profileImage:currentUser.gender=='M'?'images/avatar.png':'images/avatar-fm.png'}}" class="p-img" width="100%">
				    </div>
					<!-- arrow display end -->
					<div class="listsArrow">
						<img src="images/disclosure-indicator@2x.png" width="100%">
					</div>
				</div>
				<div>
					{{medicalDetailsList.length}}
				</div>
				<div ng-hide="medicalDetailsList.length" class="default-noti">
						Your entries will be recorded as list here. <br/> Click on '<span style="font-size: 25px;font-weight: bold;vertical-align: middle;">+</span>' to add a new record
				</div>
			</div>
		</kendo-web-content>		
	</kendo-mobile-view>
</section>
