<kendo-mobile-view ng-controller="medicalProfileAddController">
    @@include('../../site/partials/mainHeader.html')
    

    <kendo-web-content ng-hide="isShownNotes" class="km-insetcontent">
        
        <div class="medicalAddViewContainer profile-grid2 profile-grid3" >

            <kendo-mobile-nav-bar class="km-accent sw-header">
                
                <kendo-view-title> {{headerText}} </kendo-view-title>

                <!--  || (headerText=='Blood Pressure' && !medical.value1) -->
                <Kendo-mobile-button class="btn-next" k-align="'right'" ng-disabled="(headerText=='Blood Pressure' && !medical.value1 && !isShownNotes) || (headerText!='Blood Pressure' && !medical.value2 && !isShownNotes)" ng-click="(medical.value2 || medical.value1) && saveMedicalProfile()">Done</Kendo-mobile-button>
            </kendo-mobile-nav-bar>


            <div class="medicalAddValue">

                <!-- <div class="col-xs-2 value-edit" ng-click="focusInput1()">
                    <img src="images/create@2x.png" class="edit-icon" ng-show="medical.value1">
                </div> -->

                <div class="col-xs-12 medicalAddImg">
                    <img ng-show="headerText=='Height'" src="images/height@2x.png">
                    <img ng-show="headerText=='Heart Rate'" src="images/heart-rate.png">
                    <img ng-show="headerText=='Weight'" src="images/weight@2x.png">
                    
                    <img ng-show="headerText=='Body Temperature'" src="images/btemp_blue.png">

                    <img ng-show="headerText=='Blood Pressure'" src="images/blood-pressure@2x.png">
                </div>
                <div class="col-xs-12 medicalAddInput">
                    <div id="medicalInput1" class="col-xs-5" ng-show="headerText=='Height' || headerText=='Blood Pressure' || headerText == 'Body Temperature'">
                        <div class="col-xs-12 heightInFt" ng-click="heightPickFlag=true" ng-hide="headerText=='Blood Pressure' || headerText == 'Body Temperature'">
                            {{medical.value1}}
                        </div>
                        <input ng-show="headerText=='Blood Pressure' || headerText == 'Body Temperature'" id="medicalValue1" type="number" ng-model="medical.value1" ng-keyup="convertHeights('CM','FN')" />
                        <div class="medicalUnit">
                        <sup ng-show="headerText=='Body Temperature'">o</sup>
                            {{medical.unit1}}
                        </div>
                    </div>
                    
                    <div id="medicalInput2" class="col-xs-5" ng-hide="headerText=='Blood Pressure' && currentUser.age<14">
                        <input id="medicalValue2" type="number" ng-click="heightPickFlag=false" ng-model="medical.value2" ng-keyup="convertHeights('CM','CL')" />
                        <div class="medicalUnit">
                            <sup ng-show="headerText=='Body Temperature'">o</sup>
                            {{medical.unit2}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="measuredDate border-top border-bottom">
                <!-- <div class="col-xs-12"> -->
                    <div class="col-xs-2">
                        <img src="images/calendar@2x.png" width="120%">
                    </div>
                    <div class="col-xs-8">
                        <span> Measured date </span>
                        <p>{{medical.measurementDate | date : 'd-MMM-yyyy'}}</p>
                    </div>
                    <div class="col-xs-2">
                        <img src="images/disclosure-indicator@2x.png" class="info-arrow" ng-hide="medical.measurementDate">
                        <img src="images/create@2x.png" class="edit-icon" ng-show="medical.measurementDate">
                        <ng-datepicker ng-model="medical.measurementDate">
                    </div>

                    <!-- <input id="mDate" type="text" name="measurementDate" max-date="{{maxDate}}" min-date="{{minDate}}" readonly tg-datepicker ng-model="medical.measurementDate" required> -->
                <!-- </div> -->
            </div>
            <div class="measuredTime border-bottom" ng-hide="headerText=='Weight' || headerText=='Height'">
                <!-- <div class="col-xs-12"> -->
                    <div class="col-xs-2">
                        <img src="images/clock.png" width="100%">
                    </div>
                    <div class="col-xs-8">
                        <span> Measured time </span>
                        <!-- <p>{{medical.measurementTime | date : 'h:mm a'}}</p> -->
                    </div>
                    <div class="col-xs-2">
                        <img src="images/disclosure-indicator@2x.png" class="info-arrow" ng-hide="medical.measurementTime">
                        <img src="images/create@2x.png" class="edit-icon" ng-show="medical.measurementTime">
                    </div>
                    <input id="mTime" type="time" name="measurementTime" max="{{maxTime}}" ng-model="medical.measurementTime" required>
                <!-- </div> -->
            </div>
            <div class="medicalNotes border-bottom" ng-click="(medical.value2 || medical.value1) && showNotesPage()">
                <!-- <div class="col-xs-12"> -->
                    <div class="col-xs-2">
                        <img src="images/note@2x.png" width="100%">
                    </div>
                    <div class="col-xs-8"> Add notes </div>
                    <div class="col-xs-2">
                        <img src="images/disclosure-indicator@2x.png" class="info-arrow" ng-hide="medical.note">
                        <img src="images/create@2x.png" class="edit-icon" ng-show="medical.note">
                    </div>
                <!-- </div> -->
                <div class="col-xs-10"  ng-show="medical.note">
                    <textarea disabled ng-model="medical.note" class="note-text"  placeholder="Write note...">{{medical.note}}</textarea>
                </div>
            </div>
        </div>
        <div style="width:100%;bottom: 23px;">
            <div class="heightSelect" ng-show="heightPickFlag && headerText=='Height'">
                <div class="closeHeight" ng-click="heightPickFlag = !heightPickFlag" > Done </div>
                <div ng-click="setFeet($event)" touch-scroll class="feetCls" id="scrollFeet">
                    <div class="heightCls">1'</div>
                    <div class="heightCls">2'</div>
                    <div class="heightCls">3'</div>
                    <div class="heightCls">4'</div>
                    <div class="heightCls">5'</div>
                    <div class="heightCls">6'</div>
                    <div class="heightCls">7'</div>
                    <div class="heightCls">8'</div>
                </div>
                <div ng-click="setInch($event)" touch-scroll class="feetCls" id="scrollInch">
                    <div class="heightCls">0"</div>
                    <div class="heightCls">1"</div>
                    <div class="heightCls">2"</div>
                    <div class="heightCls">3"</div>
                    <div class="heightCls">4"</div>
                    <div class="heightCls">5"</div>
                    <div class="heightCls">6"</div>
                    <div class="heightCls">7"</div>
                    <div class="heightCls">8"</div>
                    <div class="heightCls">9"</div>
                    <div class="heightCls">10"</div>
                    <div class="heightCls">11"</div>
                </div>
            </div>
        </div>

    </kendo-web-content>

    <kendo-web-content ng-show="isShownNotes">
        <div id="addNotes" class="profile-grid2 profile-grid3">

            <kendo-mobile-nav-bar class="km-accent sw-header">
                
                <kendo-view-title> {{headerText}} </kendo-view-title>

                <!--  || (headerText=='Blood Pressure' && !medical.value1) -->
                <Kendo-mobile-button class="btn-next" k-align="'right'" ng-disabled="(headerText=='Blood Pressure' && !medical.value1 && !isShownNotes) || (headerText!='Blood Pressure' && !medical.value2 && !isShownNotes)" ng-click="(medical.value2 || medical.value1) && saveMedicalProfile()">Done</Kendo-mobile-button>
            </kendo-mobile-nav-bar>



            <div class="row">
                <div class="col-xs-12 noteImage">
                    <img src="images/note@3x.png" width="25%">
                </div>
            </div>
            <div class="row subHeader">
                <div class="col-xs-12">
                    <p> Note </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea ng-model="medical.note" class="addNotesHere" placeholder="Write note..."></textarea>
                </div>
            </div>
        </div>
    </kendo-web-content>
</kendo-mobile-view>