<kendo-mobile-view>
    <kendo-mobile-header>
        <kendo-mobile-nav-bar class="km-accent sw-header">
            <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" ></kendo-mobile-back-button>
            <kendo-view-title> Height </kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>

    <kendo-mobile-content class="km-insetcontent">
    <!-- Show list of height  -->
       <!--  <div class="list-group" id="heightLists">
            <div ng-click="goToHeight()" class="list-group-item">
                <div class="medInfoImg">
                    <img class="imgIcon" src="images/height@2x.png" width="54%">
                </div>
                <div class="medInfo">
                    <span class="medInfoText"> Height </div>
                    <img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
                </div>
            </div>
        </div> 

        <div kendo-listview
            id="listView"
            k-data-source="DataSource"
            k-template='ListViewTemplate'
            k-edit-template='ListViewEditTemplate'>
        </div>
        -->
       <div id="addHeight">
            <div class="row">
                <div class="col-xs-12 contentHeader">
                    <img src="images/height@2x.png" class="heightImg">
                </div>
            </div>
            <div class="row heightAdding">
                <div class="col-xs-6 heightInFts">
                    
                </div>
                <div class="col-xs-6 heightInMts">
                    <input type="number" />
                </div>
            </div>
            <div class="row heightUnits">
                <div class="col-xs-6"> ft. & in. </div>
                <div class="col-xs-6"> cm </div>
            </div>

            <div class="row measuredDate">
                <div class="col-xs-12">
                    <div class="col-xs-2">
                        <img src="images/calendar@2x.png" width="150%">
                    </div>
                    <div class="col-xs-8">
                        <div> Measured date </div>
                        <input type="text" class="form-date-underlined" autofocus required readonly tg-datepicker>
                    </div>
                    <div class="col-xs-2 heightDateEdit">
                        <img class="medInfoDisclose" src="images/disclosure-indicator@2x.png" width="50%">
                        <img src="images/create@2x.png" width="50%">
                    </div>
                </div>
            </div>
            <div class="row heightNotes">
                <div class="col-xs-12">
                    <div class="col-xs-2">
                        <img src="images/note@2x.png" width="100%">
                    </div>
                    <div class="col-xs-8"> Add notes </div>
                    <div class="col-xs-2">
                        <img class="medInfoDisclose" src="images/disclosure-indicator@2x.png" width="50%">
                        <img src="images/create@2x.png" width="50%">
                    </div>
                </div>
            </div>

            <div class="heightSelect" ng-show="heightPickFlag">
                <div touch-scroll class="feetCls" id="scrollFeet" ng-click="setFeet($event)">
                    <div class="heightCls">1'</div>
                    <div class="heightCls">2'</div>
                    <div class="heightCls">3'</div>
                    <div class="heightCls">4'</div>
                    <div class="heightCls">5'</div>
                    <div class="heightCls">6'</div>
                    <div class="heightCls">7'</div>
                    <div class="heightCls">8'</div>
                </div>
                <div touch-scroll class="feetCls" id="scrollInch" ng-click="setInch($event)">
                    <div class="heightCls">0"</div>
                    <div class="heightCls">1"</div>
                    <div class="heightCls">2"</div>
                    <div class="heightCls">3"</div>
                    <div class="heightCls">4"</div>
                    <div class="heightCls">5"</div>
                    <div class="heightCls">6"</div>
                    <div class="heightCls">7"</div>
                    <div class="heightCls">8"</div>
                    <div class="heightCls">9"</div>
                    <div class="heightCls">10"</div>
                    <div class="heightCls">11"</div>
                </div>
            </div>
        </div>
    </kendo-mobile-content>
</kendo-mobile-view>
