
<!-- ******** Adding Diagnostics  ******** -->
<kendo-mobile-view id="addDiagnostics" ng-controller="diagnosticsAddController">
    @@include('../../site/partials/mainHeader.html')

     <kendo-web-content ng-hide="isShownNotes" class="km-insetcontent">
        <div class="profile-grid2 profile-grid3">

        	<kendo-mobile-header class="sw-header">
                <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">
                    <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" ></kendo-mobile-back-button>
                    <kendo-view-title> {{ diagnosticsHeader }} </kendo-view-title>
                    <Kendo-mobile-button class="btn-next" k-align="'right'" ng-click="saveDiagnosticDetail()" ng-disabled="!medical.value2">Done</Kendo-mobile-button>
            </kendo-mobile-nav-bar>
        	</kendo-mobile-header>          
    	   
    	       <div id="diagnosticImg" >
    	            <div >
                        <!-- <div class="col-xs-2 value-edit" ng-click="focusInput1()">
                            <img src="images/create@2x.png" class="edit-icon" ng-show="medical.value2">
                        </div> -->
    	                <div class="col-xs-12 contentHeader">
    	                    <img src="images/micro.png" class="microScopeImg">
    	                </div>
    	            </div>
    	            <div class="valueAdding">
    	                <div class="col-xs-6 addDiagInput">
    	                    <input type="number" placeholder="0" ng-model="medical.value2"/>
    	                </div>
    	                <div class="btn btn-default select" data-toggle="modal" data-target="#addUnitModal" ng-model="medical.unit2"> {{ medical.unit2 }}</div>
    	            </div>
                    <div class="">
                        <div class="col-xs-12 subHeadings"> Type of test </div>
                        <div class="col-xs-12 subHeadingText" ng-model="medical.test"> {{ testName }} </div>
                    </div>
                    <div class="">
                        <div class="col-xs-12 subHeadings"> method </div>
                        <!-- <div class="col-xs-12 subHeadingText" ng-model="medical.method"> {{ getDefaultMethod(testId) }} </div> -->
                        <div class="col-xs-12 "> 
                            <select class="col-xs-12 selectCls" ng-model="medical.method" ng-options="method.name as method.name for method in methods   "></select>
                            <img src="images/create@2x.png" class="selectImg" ng-click="showMethodList()">
                        </div>
                    </div>
                    <div class="measuredDate border-top border-bottom">
                        <div class="col-xs-2">
                            <img src="images/calendar@2x.png" width="120%">
                        </div>
                        <div class="col-xs-8">
                            <span> Measured date </span>
                            <p>{{medical.measurementDate | date : 'd-MMM-yyyy'}}</p>
                        </div>
                        <div class="col-xs-2">
                            <img src="images/disclosure-indicator@2x.png" class="info-arrow" ng-hide="medical.measurementDate">
                            <img src="images/create@2x.png" class="edit-icon" ng-show="medical.measurementDate">
                            <!-- <input type="text" readonly tg-datepicker name="measurementDate" max-date="{{maxDate}}" min-date="{{minDate}}" ng-model="medical.measurementDate" autofocus required> -->
                            <ng-datepicker ng-model="medical.measurementDate">
                        </div>
                    </div>
                    <div class="measuredTime border-bottom">
                        <div class="col-xs-2">
                            <img src="images/clock.png" width="100%">
                        </div>
                        <div class="col-xs-8">
                            <span> Measured time </span>
                            <!-- <p>{{medical.measurementTime | date : 'h:mm a'}}</p> -->
                        </div>
                        <div class="col-xs-2">
                            <img src="images/disclosure-indicator@2x.png" class="info-arrow" ng-hide="medical.measurementTime">
                            <img src="images/create@2x.png" class="edit-icon" ng-show="medical.measurementTime">
                        </div>
                        <input id="mTime" type="time" name="measurementTime" max="{{maxTime}}" ng-model="medical.measurementTime" autofocus required>
                    </div>
                    <div class="medicalNotes border-bottom">
                        <div class="col-xs-2">
                            <img src="images/note@2x.png" width="100%">
                        </div>
                        <div class="col-xs-8"> Add notes </div>
                        <div class="col-xs-2" ng-click="showNotesPage()">
                            <img src="images/disclosure-indicator@2x.png" class="info-arrow" ng-hide="medical.note">
                            <img src="images/create@2x.png" class="edit-icon" ng-show="medical.note">
                        </div>
                        
                        <div class="col-xs-12 note-text">
                            {{medical.note}}
                        </div>
                    </div>
    	        </div>
            </div>
		</kendo-web-content>

        <kendo-web-content ng-show="isShownNotes">
            <div class="profile-grid2 profile-grid3">

                <kendo-mobile-header class="sw-header">
                    <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">
                        <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" ></kendo-mobile-back-button>
                        <kendo-view-title> {{ diagnosticsHeader }} </kendo-view-title>
                        <Kendo-mobile-button class="btn-next" k-align="'right'" ng-click="saveDiagnosticDetail()" ng-disabled="!medical.value2">Done</Kendo-mobile-button>
                </kendo-mobile-nav-bar>
                </kendo-mobile-header>
                <div id="addNotes">
                    <div class="">
                        <div class="col-xs-12 noteImage">
                            <img src="images/note@3x.png" width="25%">
                        </div>
                    </div>
                    <div class=" subHeader">
                        <div class="col-xs-12">
                            <p> Note </p>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-xs-12">
                            <textarea ng-model="medical.note" class="addNotesHere" placeholder="Write note..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </kendo-web-content>
	</kendo-mobile-view >

<!-- ******* Select Unit To Add to View Modal ******* -->
    <div id="addUnitModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content b    -->
            <div class="modal-content" id="diagnostics">
                <div class="modal-header">
                    <h4 style="text-align:center" class="modal-title"> Units </h4>
                </div>
                <div class="modal-body">
                    <div class="list-group" >
                        <div class="list-group-item" ng-repeat="unit in units" ng-click="unitSelected($event)" ng-value="unit.name">
                            {{unit.name}}
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>

<!-- ******* Adding New unit Modal ******* -->

    <div  id="addNewUnitModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- new unit Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Enter a Unit </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                      <input type="text" class="form-control" id="unt" placeholder="Enter new unit" ng-model="newUnit">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row newUnitBtn" >
                        <div data-dismiss="modal" ng-hide="newUnit"> cancel </div>
                        <div data-dismiss="modal" ng-click="addNewUnit()" ng-show="newUnit"> OK </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

