<section ng-controller="diagnosticsListController">

	<kendo-mobile-view id="medicalInfoLists" ng-init="getDiagnosticList()">
		@@include('../../site/partials/mainHeader.html')
		<div class="profile-grid2 profile-grid3">

		    <kendo-mobile-header class="sw-header">
		        <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">		            
		           <kendo-view-title> {{ diagnosticsHeader }} </kendo-view-title>
		           <Kendo-mobile-button k-align="'right'" class="plus-icon" ng-click="addMedicalInfo()">
				        	<span class="k-icon">+</span>
					</Kendo-mobile-button>
		        </kendo-mobile-nav-bar>
		    </kendo-mobile-header>
		    <kendo-web-content>
				<div id="listView">
				
					<div class="subheader" ng-model="testName">
						{{ testName }}
					</div>
					<div class="lists" ng-repeat="list in medicalDiagnosticDetailsList" ng-click="showDiagnosticsDetail($index)">

				<!-- value medical -->
						<div class="measureCls">
							{{list.value.value}} {{ list.value.unit }}
						</div>
				<!-- arrow display -->
						<div class="measuredArrow">
							<img src="images/increse-arrow@2x.png" class="increseArrow" ng-show="list.category.type == 'high'">
							<img src="images/increse-arrow@2x.png" class="decreseArrow" ng-show="list.category.type == 'low'">
						</div>
				<!-- display date -->
						<div class="measuredDate">
							<span  ng-show="list.measurementDate">{{list.measurementDate | formatDate | date : 'd MMM yyyy'}} , </span> 
							<span ng-show="list.measurementTime"> {{list.measurementTime | formatDate | date : 'h:mm a'}}</span>
						</div>
				<!-- display time -->
						<div class="measuredBySchool" ng-show="list.source == 1">
							<img src="images/school@2x.png" width="100%"> school
						</div>
				<!-- display reffrence -->
						<div class="measuredByMyself" ng-show="list.source != 1">
							<img ng-src="{{currentUser.profileImage}}" width="100%" ng-show="currentUser.profileImage">
							<img src="images/avatar.png" width="100%" ng-show="!currentUser.profileImage">
					    </div>
				<!-- arrow display end -->
						<div class="listsArrow">
							<img src="images/disclosure-indicator@2x.png" width="100%">
						</div>
					</div>
				</div>
			</kendo-web-content>		
		</div>
	</kendo-mobile-view>	
</section>
