
<!-- Diagnostic Test Details  -->
	<kendo-mobile-view id="diagnostics" ng-controller="diagnosticsController">
		@@include('../../site/partials/mainHeader.html')
	    <kendo-web-content ng-init="getDiagnosticsMetaData()">
	    	<div class="profile-grid2 profile-grid3">
	    		
	    		<kendo-mobile-header class="sw-header">
			        <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">			            
			            <kendo-view-title> Diagnostics </kendo-view-title>          
			        </kendo-mobile-nav-bar>

			    </kendo-mobile-header>
				<div class="list-group">
					<div ui-sref="testTypeView({id:list.id , name:list.name})" class="list-group-item" ng-repeat="list in intialMetaData">
						<div class="bulletImg">
							<div class="round"></div>
						</div>
						<div class="dignInfo">
							<span class="dignInfoText"> {{list.name}} </span>
							<img class="dignInfoDisclose" src="images/disclosure-indicator@2x.png">
						</div>
					</div>					
				</div>
		</div>
		</kendo-web-content>
	</kendo-mobile-view>