
<!-- *******  Type of tests Select Starts Here  ********* -->

	<kendo-mobile-view id="diagnosticTestType" ng-controller="diagnosticsController">
		@@include('../../site/partials/mainHeader.html')
		<div class="profile-grid2 profile-grid3">
			
			<kendo-mobile-header class="sw-header">
		        <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">		            
		            <kendo-view-title> {{ diagnosticsHeader }} </kendo-view-title>
		        </kendo-mobile-nav-bar>
		    </kendo-mobile-header>
		    <kendo-web-content>

				<div class="list-group" ng-init="getStoredTestList()">

					<div class="list-group-item">
						<div class="testTypeHead">
							Select a type of test
						</div>
					</div>
					<div ui-sref="diagnosticsList({params: diagnosticsHeader, testName:tests.name, testId:tests.id, unitId:tests.unitId })" class="list-group-item" ng-repeat="tests in filteredTestList">
						<span class="bulletTxt">
							{{tests.name.split('(')[0] }}
						</span>
						&nbsp;<span class="testTypeText"> {{ tests.name.split('(')[1].replace(')', ' ')}} </span>
	                    <img class="testTypeDisclose" src="images/disclosure-indicator@2x.png">
					</div>			
				</div>		
			</kendo-web-content>
		</div>
	</kendo-mobile-view>

<!-- *******  Type of tests Select Ends Here  ********* -->

