<kendo-mobile-view class="login-view" ng-controller="AuthController">
    <kendo-mobile-header class="sw-header">
        <kendo-mobile-nav-bar class="km-accent">
           <!--  <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" /> -->
            <kendo-view-title> Change password</kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <div class="fpwd">
        <div class="text">To set a new password, please enter your current password first</div>
        <form name="changePwdForm" ng-submit="changePassword(changePwdForm)" novalidate>
            <div class="box">
                <div ng-class="hasErrorPwd===true?'red-alert-oval':'white-alert-oval'">
                    <input type="password" ng-model="current_pwd" name="current_pwd" class="form-input" required placeholder="current password" />
                </div>
            </div>
            <div ng-show="changePwdFlag" class="form-errors">
                <div class="form-error">The Password that you have entered is incorrect</div>
            </div>
            <div ng-show="hasError">
                <div class="form-error">{{errMsg}}</div>
            </div>
            <input class="button-box" type="submit" value="Continue" />
        </form>
        <a href="#" ui-sref="forgotPassword">
            <p class="forgot-password black-text">Forgot password?</p>
        </a>
    </div>
</kendo-mobile-view>