<kendo-mobile-view class="login-view" ng-controller="AuthController">
    
    <!-- @@include('logo.html') -->

    <div class="login">

            <!-- <div class="arrow-left arrow-sm"></div>
            
            <div class="tp-icons twitter"></div>
            <div class="tp-icons facebook"></div>
            <div class="tp-icons linkedin"></div>

            <div class="arrow-right arrow-sm"></div> -->

        <div class="log-in-text">Login with</div>
        <div class="tp-login-cont">            
            <div class="tp-icons facebook" ng-click="facebookLogin()"></div>  
            <div class="tp-icons google-plus" ng-click="googleplusLogin()"></div>                   
        </div>
        
        <div class="gradient-line"><span>Or</span>
        </div>

        <form name="loginForm" ng-submit="signin(loginForm)" novalidate="">
            <div class="box">
                <div ng-class="login.uNamecls===true?'red-alert-uname':'white-alert-uname'" class="border-bottom">
                    <input type="text" ng-model="login.userName" name="userName" class="form-input" required placeholder="Email or Phone"/>
                </div>
                <div ng-class="login.pwdcls===true?'red-alert':'white-alert'">
                    <input type="password" ng-model="login.password" name="password" class="form-input" required placeholder="Password" />
                </div>
            </div>
            <div ng-messages="loginForm.userName.$error || loginForm.password.$error" ng-show="loginForm.$submitted" class="form-errors">
                <div class="form-error" ng-message="required">Email and Password Required</div>
            </div>
            <!-- <div ng-messages="loginForm.password.$error" ng-show="loginForm.$submitted" class="form-errors">
                <div class="form-error" ng-message="required">Password required</div>
            </div> -->
            <div ng-show="hasError && loginForm.$submitted">
                <div class="form-errors form-error">{{errMsg}}</div>
            </div>
            <input class="button-box" type="submit" value="Login" />
            <!--<button class="btn btn-primary" ng-click="save()">Add User</button>-->
            <!--<button class="btn btn-link" ng-click="reset()">Reset</button>-->
        </form>

        <!-- <a href="#" ui-sref="forgotPassword">
            <p class="forgot-password black-text">Forgot Password?</p>
        </a> -->

       <div class="wrapper-div">
            <div class="signUp-div">
                <a href="#" ui-sref="signUp">
                    <p class="black-text">Sign up</p>
                </a>
            </div>
            <div class="forgot-pass-div">
                <a href="#" ui-sref="forgotPassword">
                    <p class="forgot-password black-text">Forgot Password?</p>
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>

        <!--<input type="text"  id="username" />-->
        <!--<input type="text"  id="password" />-->
        <!--<kendo-mobile-button ng-click="goDboard();" style="background-color: red;">Press here</kendo-mobile-button>-->
    </div>

    <!-- <div class="cloud-bg" style="z-index:0;top: 60vh;"></div> -->
    
</kendo-mobile-view>
