<kendo-mobile-view class="login-view"  ng-controller="AuthController" k-title="'Request new password'" k-layout="'default'">

    <kendo-mobile-header class="sw-header">
        <kendo-mobile-nav-bar class="km-accent">
            <kendo-view-title>Login</kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>

    <div class="fpwd">
        <!--ng-submit="signin(userForm)"-->
        <div class="text">Enter the temporary code from the email</div>
        <form name="OTPForm"  ng-submit="OTPForm.$valid && validate(OTPForm)" novalidate="">

            <div class="box">
                <div ng-class="hasError===true?'red-alert-oval':'white-alert-oval'">
                    <input type="number" ng-model="otp" ng-pattern="regexs.onlyNumbers" name="otp" class="form-input" required placeholder="Temporary code" />
                </div>
            </div>

            <div ng-messages="OTPForm.otp.$error" ng-show="OTPForm.$submitted" class="form-errors">
                <div class="form-error" ng-message="required">OTP Required</div>
                <div class="form-error" ng-message="number">Should be a number</div>
            </div>

            <div ng-show="hasError">
                <div class="form-errors form-error">{{errMsg}}</div>
            </div>
            <input class="button-box" type="submit" value="Continue"/>            <!--<button class="btn btn-primary" ng-click="save()">Add User</button>-->
            <!--<button class="btn btn-link" ng-click="reset()">Reset</button>-->
        </form>


        <!--<input type="text"  id="emailId" />-->
        <!--<input type="text"  id="password" />-->
        <!--<kendo-mobile-button ng-click="goDboard();" style="background-color: red;">Press here</kendo-mobile-button>-->
    </div>

    <!-- <div class="cloud-bg" style="z-index:0;"></div> -->

</kendo-mobile-view>