<kendo-mobile-view class="login-view" ng-controller="AuthController">
    <kendo-mobile-header class="sw-header">
        <kendo-mobile-nav-bar class="km-accent">
          <kendo-view-title> Set password</kendo-view-title>
        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <div class="fpwd" id="setPassword">
        <div class="text">Please enter new password below</div>
        <form name="resetPwdForm" ng-submit="reset(resetPwdForm)" novalidate>
            <div class="box input-wrapper">

                <div class="input-div" ng-class="resetPwdForm.actual_pwd.$error.pattern?'red-alert-oval':'white-alert-oval'">

                    <input type="password" ng-class="{submitted:resetPwdForm.$submitted}" ng-pattern="regexs.password" ng-model="actualPwd" name="actual_pwd" class="form-input" ng-minlength="8" ng-maxlength="20" required placeholder="New password" />

                </div>

                <div class="validator-img" ng-show="resetPwdForm.actual_pwd.$error.pattern">
                    <img src="images/red-cross.png" />
                </div>

                <div class="validator-img" ng-show="resetPwdForm.actual_pwd.$valid">
                    <img src="images/green-tick.png" />
                </div>

            </div>
            <div class="box input-wrapper" style="margin-top: 10% !important;">

                <div class="input-div" ng-class="resetPwdForm.confirm_pwd.$error.pattern || (!resetPwdForm.confirm_pwd.$error.required && resetPwdForm.confirm_pwd.$error.errorCompareTo)?'red-alert-oval':'white-alert-oval'">

                    <input type="password" ng-pattern="regexs.password" ng-model="confirmPwd" name="confirm_pwd" class="form-input" required placeholder="Confirm password" compare-to="actualPwd"/>
                    
                </div>

                <div class="validator-img" ng-show="resetPwdForm.confirm_pwd.$error.pattern || (!resetPwdForm.confirm_pwd.$error.required && resetPwdForm.confirm_pwd.$error.errorCompareTo)">
                    <img src="images/red-cross.png" />
                </div>

                <div class="validator-img" ng-show="resetPwdForm.confirm_pwd.$valid">
                    <img src="images/green-tick.png" />
                </div>

            </div>
            <div ng-messages="resetPwdForm.actual_pwd.$error" ng-show="resetPwdForm.$submitted" class="form-errors">
                <div class="form-error" ng-message="required">Password is required</div>
                <div class="form-error" ng-message="minlength">Password must be atleast 8 characters long</div>
                <div class="form-error" ng-message="pattern">Password must contain atleast 1 uppercase, 1 lowercase, 1 numeric and 1 special character</div>
                <div class="form-error" ng-message="maxlength">Password must not exceeds 20 characters</div>
            </div>
            <div ng-messages="resetPwdForm.confirm_pwd.$error" class="form-errors" ng-if="resetPwdForm.actual_pwd.$valid">
                <div class="form-error" ng-message="required">Confirm password required</div>
                <div class="form-error" ng-message="errorCompareTo">Password mismatch</div>
            </div>
            <div ng-show="hasError">
                <div class="form-error">{{errMsg}}</div>
            </div>
            <input class="button-box" type="submit" value="Reset Password" />
            <!--<button class="btn btn-primary" ng-click="save()">Add User</button>-->
            <!--<button class="btn btn-link" ng-click="reset()">Reset</button>-->
          <!-- <code>actualPwd = {{actualPwd}}</code><br/>
          <code>resetPwdForm.actual_pwd.$valid = {{resetPwdForm.actual_pwd.$valid}}</code><br/>
          <code>resetPwdForm.actual_pwd.$error = {{resetPwdForm.actual_pwd.$error}}</code><br/>

          <code>confirm_pwd = {{confirmPwd}}</code><br/>
          <code>resetPwdForm.confirm_pwd.$valid = {{resetPwdForm.confirm_pwd.$valid}}</code><br/>
          <code>resetPwdForm.confirm_pwd.$error = {{resetPwdForm.confirm_pwd.$error}}</code><br/> -->
        </form>
        <!--<input type="text"  id="username" />-->
        <!--<input type="text"  id="password" />-->
        <!--<kendo-mobile-button ng-click="goDboard();" style="background-color: red;">Press here</kendo-mobile-button>-->
    </div>
    <!-- <div class="cloud-bg" style="z-index:0;"></div> -->
</kendo-mobile-view>
