<div class="list-group" id="medicalInfopage">
	<div class="list-group-item">
		<div class="medInfoImg">
			<img class="imgIcon" src="images/height@2x.png" width="54%">
		</div>
		<div class="medInfo">
			<span class="medInfoText"> Height </span>
			<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
		</div>
	</div>
	<div class="list-group-item">
		<div class="medInfoImg">
			<img class="imgIcon" src="images/weight@2x.png" width="55%">
		</div>
		<div class="medInfo" ui-sref="mdetail.weight">
			<span class="medInfoText"> Weight </span>
			<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
		</div>
	</div>
	<div class="list-group-item">
		<div class="medInfoImg">
			<img class="imgIcon" src="images/heart-rate@2x.png" width="53%">
		</div>
		<div class="medInfo">
			<span class="medInfoText"> Heart Rate </span>
			<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
		</div>
	</div>
	<div class="list-group-item">
		<div class="medInfoImg">
			<img class="imgIcon" src="images/body-temperature@2x.png" width="28%" style="margin-top: -4px; margin-left: 5px;"> 
		</div>
		<div class="medInfo">
			<span class="medInfoText"> Body Temperature </span>
			<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
		</div>
	</div>
	<div class="list-group-item">
		<div class="medInfoImg">
			<img class="imgIcon" src="images/blood-pressure@2x.png" width="50%">
		</div>
		<div class="medInfo">
			<span class="medInfoText"> Blood Pressure</span>
			<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
		</div>
	</div>
	<div class="list-group-item">
		<div class="medInfoImg">
			<img class="imgIcon" src="images/diagnostic@2x.png" style="width: 30%; margin-top: -4px;  margin-left: 5px;"> 
		</div>
		<div class="medInfo">
			<span class="medInfoText"> Diagnostic Tests </span>
			<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
		</div>
	</div>
	<div class="list-group-item">
		<div class="medInfoImg">
			<img class="imgIcon" src="images/allergic@3x.png" width="50%">
		</div>
		<div class="medInfo">
			<span class="medInfoText"> Alleries & Conditions  </span>
			<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
		</div>
	</div>
</div>