<kendo-mobile-view id="allergiesConditions" ng-controller="allergiesListController">
	@@include('../../site/partials/mainHeader.html') 
	<div class="profile-grid2 profile-grid3">
		<kendo-mobile-header class="sw-header">
	        <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">	            
	            <kendo-view-title> Allergies </kendo-view-title>	            
	        </kendo-mobile-nav-bar>
	    </kendo-mobile-header>

	    <kendo-web-content class="km-insetcontent">
			<div touch-scroll ng-init="getAllergies()">
				<div class="list-group">
					<div ng-click="goToallergyView(allergy.id)" ng-repeat="allergy in allergiesList" class="list-group-item">
						<div class="allergiesInfo" >
							<span class="orangeIndicator"></span>
						</div>
						<div class="allergiesName">
							<div class="bulletTxt" >
								{{allergy.name.split('(')[0] }}
							</div>
							&nbsp;<div class="testTypeText" ng-show="allergy.name.split('(')[1]"> ( {{ allergy.name.split('(')[1].replace(')', ' ')}} ) </div>
						</div>
						<div class="allergiesDisclose">
	                    	<img src="images/disclosure-indicator@2x.png">
	                    </div>
					</div>			
				</div>				
	    	</div>	    
		</kendo-web-content>
	</div>
</kendo-mobile-view>

<!-- Modal To Add Allergy and Triggers -->
	<div id="addNewAllery" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Add Allery and Triggers </h4>
                </div>
                <div class="modal-body form-group">
                   <input type="text" class="form-control" ng-model="newallery" placeholder="New Allergy"></input>
                   <br>
                   <input type="text" class="form-control" ng-model="triggerby" placeholder="New Trigger"></input>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6" data-dismiss="modal"> No </div>
                        <div class="col-xs-6" data-dismiss="modal" ng-click="addNewAllergy()" ng-disabled="newallery || triggerby"> Add </div>
                    </div>
                </div>
            </div>
        </div>
    </div>