<kendo-mobile-view id="allergyDetails" ng-controller="allergiesSymotomsController">
	@@include('../../site/partials/mainHeader.html') 
    <div class="profile-grid2 profile-grid3">
        <kendo-mobile-header class="sw-header">
            <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">
                <kendo-view-title> Allergies </kendo-view-title>
                <Kendo-mobile-button class="btn-next" k-align="'right'" ng-disabled="dobForm.$invalid" ng-click="goToAddDescription()">Next</Kendo-mobile-button>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>
        <kendo-web-content class="km-insetcontent">
    		<div touch-scroll ng-init="getSymptomsList()">
                <div class="pageHeader"> Symptoms / Reactions </div>
    			<ul class="list-group">
    				<li class="list-group-item" ng-repeat="symptom in symptomsList track by $index">
                        <div class="row">
                            <div class="col-xs-10">
                                {{ symptom.name }}
                            </div>
                            <!-- <div class="col-xs-1">
                                <input type="checkbox" ng-model="folder[symptom.name]" value={{symptom.name}}/>
                            </div> -->

                            <!-- Rounded TWO -->
                            <div class="col-xs-1 roundedTwo">
                                <input type="checkbox" ng-model="folder[symptom.name]" value={{symptom.name}} id="roundedTwo{{$index}}" name="check" />
                                <label for="roundedTwo{{$index}}"></label>
                            </div>

                        </div>
    				</li>
                    <li class="list-group-item" data-toggle="modal" data-target="#addNewSymptoms" > Others </li>
    			</ul>
        	</div>
        </kendo-web-content>
    </div>
</kendo-mobile-view>

    <div id="addNewSymptoms" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Add Symptoms </h4>
                </div>
                <div class="modal-body form-group">
                    <p> Add symptoms with comma separated values Eg: Cough, headache </p>
                   <input type="text" class="form-control" ng-model="newSymptoms" placeholder="New Symptoms"></input>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-xs-6" data-dismiss="modal"> No </div>
                        <div class="col-xs-6" data-dismiss="modal" ng-click="addNewSymptoms()" ng-disabled="newSymptoms"> Add </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
