

<kendo-mobile-view id="intro-dashboard" ng-controller="EditProfileController">

    <!-- @@include('../../site/partials/mainHeader.html') -->

    <kendo-mobile-content >
        <div class="profile-grid2 profile-grid3">

            <kendo-web-view>
                <kendo-web-header class="sw-header">
                    <kendo-mobile-nav-bar class="km-accent sw-header">
                        <!-- <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()"/> <kendo-view-title>Emergency Contact</kendo-view-title> -->
                        <Kendo-mobile-button ng-disabled="emConForm.$invalid"  class="btn-next" k-align="'right'" ng-click="!emConForm.$invalid && next()">{{headerText}}</Kendo-mobile-button>
                    </kendo-mobile-nav-bar>
                </kendo-web-header>
                <kendo-mobile-content>
                    <div class="emcon grid1" ng-form name="emConForm">
                        <div class="top-element">

                            <img ng-class="!emConForm.$invalid?'em-blue':'em-grey'"/>
                        </div>
                        <div id="emergencyName">
                            <input  class="form-input-underlined" id="ename" type="text" ng-model="currentUser.emergencyContactPerson" name="emergencyContactName" ng-maxlength="50" ng-pattern="regexs.onlyAlphabets" required placeholder="Name" />
                            <div ng-messages="emConForm.emergencyContactName.$error" ng-if="emConForm.emergencyContactName.$touched" class="form-errors">
                                <div class="form-error" ng-message="required">Name is required</div>
                                <div class="form-error" ng-message="maxlength">Must not exceed 50 characters</div>
                                <div class="form-error" ng-message="pattern">Please enter valid name</div>
                            </div>
                        </div>
                        <div id="emergencyNumber">

                            <div style="position:relative">
                                <label style="position: absolute;margin: 28px 0px 0px 15px;font-weight: normal;display: block;font-size: large;">(+91)</label>

                                <input  class="form-input-underlined" id="enum" type="number" ng-model="currentUser.emergencyContactNumber" name="emergencyContactNumber" ng-pattern="[0-9]*" required min="1" maxlength="10" minlength="10"/>
                            </div>
                            

                            <div ng-messages="emConForm.emergencyContactNumber.$error" ng-if="emConForm.emergencyContactNumber.$touched" class="form-errors">
                                <div class="form-error" ng-message="required">Mobile number is required</div>
                                <div class="form-error" ng-message="number">Should be a number</div>
                                <div class="form-error" ng-message="min">Should be a valid number</div>
                                <div class="form-error" ng-message="minlength">Cannot be below 10 digits</div>
                                <div class="form-error" ng-message="maxlength">Cannot exceed 10 digits</div>
                            </div>
                        </div>
                    </div>
                </kendo-mobile-content>
            </kendo-web-view>

        </div>

    </kendo-mobile-content>
</kendo-mobile-view>