<kendo-mobile-view id="personalEdit" ng-controller="FamilyMemberDetailsController">
		
	@@include('../../site/partials/mainHeader.html')

	<kendo-web-content class="km-insetcontent" ng-init="getUserDetail()">
	        
		<div class="profile-grid2 profile-grid3">
	        <div id="personalEditHead ">
	            <div class="headerImg">
	                <div class="col-xs-12 contentHeader">
	                    <img ng-src="{{userDetail.profileImage?userDetail.profileImage:userDetail.gender=='M'?'images/avatar.png':'images/avatar-fm.png'}}" class="avatarImg">
	                </div>
	            </div>
	            <div ng-click="editPersonnalInfo(1)" class="row profileNameText">
	                <div class="col-xs-12"> {{userDetail.firstName}} {{userDetail.lastName}} </div>
	            </div>        
	        </div>
			<div ng-click="editPersonnalInfo(2)" class="personalListItem">
				<div class="medInfo">
					<span class="col-xs-5 data left"> Gender </span>
					<span class="col-xs-6 data right"> 
						{{userDetail.gender == 'M' ? 'Male' : userDetail.gender == 'F' ? 'Female' : userDetail.gender == 'O' ? 'Others' : '' }} </span>
					<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
				</div>
			</div>

			<div ng-click="editPersonnalInfo(3)" class="personalListItem">
				<div class="medInfo">
					<span class="col-xs-5 data left"> D.O.B. </span>
					<span class="col-xs-6 data right"> {{userDetail.dateOfBirth | date : 'd-MMM-yyyy'}} </span>
					<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
				</div>
			</div>
			<div ng-click="editPersonnalInfo(4)" class="personalListItem">
				<div class="medInfo">
					<span class="col-xs-5 data left"> Blood Group </span>
					<span class="col-xs-6 data right"> {{userDetail.bloodGroup}}</span>
					<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
				</div>
			</div>
			<div ng-click="editPersonnalInfo(5)" class="personalListItem">
				<div class="medInfo">
					<span class="col-xs-5 data left"> Phone </span>
					<span class="col-xs-6 data right"> {{userDetail.contactNumber}} </span>
					<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
				</div>
			</div>
			<div class="personalListItem"> <!-- ng-click="editPersonnalInfo(5)" -->
				<div class="medInfo">
					<span class="col-xs-5 data left"> email </span>
					<span class="col-xs-6 data right"> {{userDetail.emailId}} </span>
					<!-- <img class="medInfoDisclose" src="images/disclosure-indicator@2x.png"> -->
				</div>
			</div>
			<div ng-click="editPersonnalInfo(6)" class="personalListItem">
				<div class="medInfo">
					<span class="col-xs-5 data left"> Address </span>
					<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
					<div class="addr data right" style="line-height: 20px;"> {{userDetail.address1}} </div>
					<div class="addr data right" style="line-height: 20px;"> {{userDetail.address2}} </div>
				</div>
			</div>
			<div class="personalListItem subhead">
				<div class="medInfo">
					<span class=" data left"> Emergency contact </span>
					<!-- <img class="medInfoDisclose" src="images/disclosure-indicator@2x.png"> -->
				</div>
			</div>
			<div ng-click="editPersonnalInfo('emergencyContact')" class="personalListItem">
				<div class="medInfo">
					<span class="col-xs-5 data left"> Name </span>
					<span class="col-xs-6 data right"> {{userDetail.emergencyContactPerson}} </span>
					<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
				</div>
			</div>
			<div ng-click="editPersonnalInfo('emergencyContact')" class="personalListItem">
				<div class="medInfo">
					<span class="col-xs-5 data left"> Phone </span>
					<span class="col-xs-6 data right"> {{userDetail.emergencyContactNumber}} </span>
					<img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
				</div>
			</div>
		</div>
    </kendo-mobile-content>

</kendo-mobile-view>