<div class="panel-body">
	<div class="row" style="text-align: center;">
		<div id="dashboard-intro">
			<h1> Welcome to DashBoard </h1>
		</div>
	</div>

	<!-- Use any element to open/show the overlay navigation menu -->
	<button onclick="openNav()"> open </button>
</div>