<style type="text/css" media="screen">
#mediaOptionContainer {
    position: absolute;
    margin-top: -13px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(150, 147, 150, 1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(150, 147, 150, 1);
    box-shadow: 0px 0px 6px 2px rgba(150, 147, 150, 1);
    border-radius: 10px;
    width: 80%;
}


/* .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -10px;
    left: 133px;
    position: absolute;
} */

.arrow-up {
    top: -25px;
    left: 45%;
    width: 50px;
    height: 25px;
    position: absolute;
    overflow: hidden
}

.arrow-up:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 20px;
    box-shadow: 0px 0px 6px 2px rgba(150, 147, 150, 1)
}

#mediaOptionContainer span {
    color: #96999c;
}

#mediaOptionContainer .divider {
    border-bottom: 1px solid #eee;
}

#mediaOptionContainer .glyphicon {
    font-size: 20px;
    color: #96999c;
}

#mediaOptionContainer .glyphicon ~ span {
    margin-left: 13px;
    font-size: 20px;
}

#mediaOptionContainer ul {
    border-radius: 10px;
    background: #fff;
    padding: 15px;
}

#mediaOptionContainer ul li {
    list-style: none;
    padding-left: 12px;
    padding-top: 10px;
}
</style>

<kendo-mobile-view id="intro-dashboard" ng-controller="EditProfileController">

    <!-- @@include('../../site/partials/mainHeader.html') -->

    <kendo-mobile-content >
        <div class="profile-grid2 profile-grid3">

            <kendo-web-view >

                <kendo-web-header class="sw-header">
                    <kendo-mobile-nav-bar class="km-accent sw-header">
                        <kendo-view-title>Create Profile</kendo-view-title>
                        <Kendo-mobile-button class="btn-next" k-align="'right'" ng-click="next()" ng-disabled="namesForm.$invalid">{{headerText}}
                            <!-- {{ user.firstName || user.lastName || user.middleName ?'Next':'Skip'}} -->
                        </Kendo-mobile-button>
                    </kendo-mobile-nav-bar>
                </kendo-web-header>
                <kendo-mobile-content class="km-insetcontent">

                    <div class="common-input-box grid1">
                        <!-- ng-click="fetchAvatar()" -->
                        <div class="profile-image" style="background-image: url({{currentUser.profileImage?currentUser.profileImage:currentUser.gender=='M'?'images/avatar.png':'images/avatar-fm.png'}});" ng-click="mediaOption.show=!mediaOption.show">
                        </div>
                        <div id="mediaOptionContainer" ng-show="mediaOption.show">
                            <div class="arrow-up"></div>
                            <ul>
                                <li ng-click="fetchAvatar('gallary')">
                                    <span class="glyphicon glyphicon-picture"></span>
                                    <span>Gallery</span>
                                </li>
                                <li class="divider"></li>
                                <li ng-click="fetchAvatar('camera')">
                                    <span class="glyphicon glyphicon-camera"></span>
                                    <span>Take new</span>
                                </li>
                            </ul>
                        </div>
                        <form name="namesForm" novalidate="">
                            <div>
                                <div ng-class="currentUser.uNamecls===true?'red-alert-uname':'white-alert-uname'">
                                    <input class="form-input-underlined" type="text" ng-model="currentUser.firstName" name="firstName" class="form-input" required placeholder="First Name" ng-maxlength="50" ng-pattern="regexs.onlyAlphabets"/>
                                </div>
                                <div ng-class="currentUser.pwdcls===true?'red-alert':'white-alert'">
                                    <input class="form-input-underlined" type="text" ng-model="currentUser.middleName" name="middleName" class="form-input" placeholder="Middle Name" ng-maxlength="50" ng-pattern="regexs.onlyAlphabets" ng-model-options="{'updateOn': 'blur'}" />
                                </div>
                                <div ng-class="currentUser.pwdcls===true?'red-alert':'white-alert'">
                                    <input class="form-input-underlined" type="text" ng-model="currentUser.lastName" name="lastName" class="form-input" placeholder="Last Name" ng-maxlength="50" ng-pattern="regexs.onlyAlphabets" ng-model-options="{'updateOn': 'blur'}" />
                                </div>
                            </div>
                            <div ng-messages="namesForm.firstName.$error" ng-if="namesForm.firstName.$touched" class="form-errors">
                                <div class="form-error" ng-message="required">First name is required</div>
                                <div class="form-error" ng-message="maxlength">Must not exceed 50 characters</div>
                                <div class="form-error" ng-message="pattern">Invalid first name</div>
                            </div>
                            <div ng-messages="namesForm.middleName.$error" ng-if="namesForm.middleName.$touched" class="form-errors">
                                <div class="form-error" ng-message="maxlength">Must not exceed 50 characters</div>
                                <div class="form-error" ng-message="pattern">Invalid middle name</div>
                            </div>
                            <div ng-messages="namesForm.lastName.$error" ng-if="namesForm.lastName.$touched" class="form-errors">
                                <div class="form-error" ng-message="maxlength">Must not exceed 50 characters</div>
                                <div class="form-error" ng-message="pattern">Invalid last name</div>
                            </div>
                            <div ng-show="hasError">
                                <div class="form-error">{{errMsg}}</div>
                            </div>
                            <!--<button class="btn btn-primary" ng-click="save()">Add User</button>-->
                            <!--<button class="btn btn-link" ng-click="reset()">Reset</button>-->
                        </form>
                    </div>

                </kendo-mobile-content>

                <script>
                $(function() {
                    $('[data-toggle="tooltip"]').tooltip()
                })
                </script>

            </kendo-web-view>
        </div> 
    </kendo-mobile-content>
</kendo-mobile-view>