
<kendo-mobile-view id="intro-dashboard" ng-controller="EditProfileController">

    <!-- @@include('../../site/partials/mainHeader.html') -->

    <kendo-mobile-content >
        <div class="profile-grid2 profile-grid3">


            <kendo-web-view>
                <kendo-web-header class="sw-header">
                    <kendo-mobile-nav-bar class="km-accent sw-header">
                        <!-- <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" /> -->
                        <kendo-view-title>Gender</kendo-view-title>
                        <Kendo-mobile-button class="btn-next" k-align="'right'" ng-disabled="!isFemale && !isMale && !isOthers" ng-click="next()">{{headerText}}</Kendo-mobile-button>
                    </kendo-mobile-nav-bar>
                </kendo-web-header>
                <div class="gender grid1" ng-form name="genderForm">

                    <!-- <input class="form-input-underlined" type="text" ng-model="genderTxt"  disabled name="Gender" class="form-input" required placeholder="Gender" /> -->

                    <div class="gender-img-div" >

                        <div class="cm-left"><img src="images/female_grey.png" ng-click="isClicked(1)" ng-class="isFemale===true?'female-pink':'female-grey'"/> <div ng-class="isFemale===true?'pink':'grey'">Female</div></div>
                        <div class="cm-right"><img src="images/male_grey.png" ng-click="isClicked(2)" ng-class="isMale===true?'male-blue':'male-grey'"/><div ng-class="isMale===true?'blue':'grey'">Male</div></div>
                    </div>

                    <div class="others-div">
                        <p ng-click="isClicked(3)" ng-class="isOthers===true?'blue':'grey'">OTHERS</p>

                    </div>
                </div>
            </kendo-web-view>

        </div>

    </kendo-mobile-content>
</kendo-mobile-view>
<!-- <div class="cloud-bg"></div> -->