<kendo-mobile-view id="home-recommendations">
	<kendo-mobile-header>
		<kendo-mobile-nav-bar class="km-accent sw-header">
			<kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" />
			<kendo-view-title> Recommondation </kendo-view-title>
		</kendo-mobile-nav-bar>
	</kendo-mobile-header>
	<kendo-mobile-content class="km-insetcontent">
		<div id="recommondation">
		</div>
	</kendo-mobile-content>
	@@include('footer.html')
</kendo-mobile-view>