<kendo-mobile-view id="record" class="recommandationList" ng-controller="recordController">
    @@include('../../site/partials/mainHeader.html')

    <kendo-web-content>
        <ul touch-scroll class="datalist profile-grid2 profile-grid3">
            <li ui-sref="recordMemberList">
                <img style="width:30px;margin: 10px 10px;" src="images/snapshot-icon.png">
                <span class="record-list-item-text"> School Healthcheck Snapshot</span>
                <img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
            </li>
            <li ui-sref="healthInsuranceListView">
                <img style="width:40px;margin: 10px 10px;" src="images/insurance-icon.png">
                <span class="record-list-item-text"> Insurance</span>
                <img class="medInfoDisclose" src="images/disclosure-indicator@2x.png">
            </li>
        </ul>
    </kendo-web-content>

</kendo-mobile-view>